
.main_list_container {
  height: auto;
  width: 100%;
  padding: 20px 80px;
}

.main_inner_list_container {
  height: 100%;
  width: 100%;
}

.list_title {
  font-size: 2.2rem;
  font-weight: 700;
  padding-bottom: 20px;
  text-align: center;
}

.book_list_container {
  height: auto;
  width: 100%;
}

.book_card_comtainer {
  height: auto;
  width: 100%;
  padding: 20px 5px;
}
