.main_bar_chart_inner_container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 0;
  height: auto;
  width: 60%;
  border-radius: 8px;
  background-color: #ebebeb;
}