@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.main_nav_bar_outer_container {
  max-width: 1920px;
  min-width: 640px;
  margin: auto;
}

.main_bar_chart_outer_container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1920px;
  min-width: 640px;
  margin: auto;
  padding: 20px;
}